.main-container{
	position: relative;
}

.background-image{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 82%;
}

main{
	position: relative;
	z-index: 2;
}

article{
	display: flex;
	justify-content: center;
	padding: 24px 24px 150px 24px;
}

.sign-in-form-container h1{
	font-size: 25px;
	text-align: center;
	padding: 0 0 20px 0;
	margin: 0;
}

.sign-in-form{
	font-size: 12px;
	font-weight: normal;
	width: 400px;
	max-width: 100%;

}

.sign-in-checkbox{
	display: flex;
	align-items: start;
	gap: 6px;
}

.sign-in-checkbox p,.sign-in-checkbox input{
	margin: 0;
}

.sign-in-checkbox input{
	margin-top: 0.5px;
	margin-left: 4px;
	accent-color: #e8491c;
}

.aszf{
	margin-bottom: 12px;
}

.newsletter{
	margin-bottom: 30px;
}

.input-container{
	position: relative;
	margin-bottom: 30px;
}

.input-container i{
	position: absolute;
	top: 15px;
	right: 10px;
	font-size: 16px;
	cursor: pointer;
}

.input-container input ~ label{
	position: absolute;
	top: 8px;
	left: 4px;
	color: #999;
	padding: 6px;
	
}

.input-container input:focus ~ label,.input-container input:valid ~ label, .email input:not(:placeholder-shown) ~ label{
	top: -10px;
	padding: 4px;
	background-color: white;
	color: black;
}

.input-container input{
	padding: 13px;
	box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.5);
	width: 100%;
	outline: none;
}

button[type="submit"]{
	margin-top: 0;
	margin-bottom: 20px;
}

.button {
	background-color: #ec5833;
	border: 1px solid #cc3e19;
	box-shadow: 0px 2px 0 #c63b17, 2px 4px 6px #d3421a;
	font-weight: 400;
	font-size:16px;
	letter-spacing: 1px;
	transition: all 150ms linear;
	color: white;
	width: 100%;
	height: 40px;
}

.button:hover {
  background: #e54419;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  color: #ffa48c;
  text-decoration: none;
  text-shadow: -1px -1px 0 #b93716;
  transition: all 250ms linear;
}


.button-container{
	display: flex;
	justify-content: end;
}

.sign-in-form-container{
	box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.5);
	padding: 40px 40px 20px 40px;
	max-width: 700px;
	background-color:white;
	border: 0.5px solid;
	border-color: #0c2f3b;
}

.remember-password{
	text-align: center;
	width: 100%;
}
