.menu-navigation {
	width: 100%;
	max-width: 1200px;
}

.menu-navigation ul{
	width: 100%;
	background-color: #e8491c;
	margin-top: 30px;
	padding: 0 100px;
}

.menu-navigation a{
	border: 1px solid #e8491c;
	margin: 15px 15px;
}

.menu-navigation a:hover{
	border-color: #0c2f3b;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu{
	margin: 0px 24px 150px 24px;
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-titles {
	width: 100%;
	max-width: 920px;
}

.menu-titles h4{
	background-color: #0c2f3b;
	margin: 70px 0 30px 0;
	padding: 10px 50px;
	text-align: center;
	color: white;
	font-weight: 400;
}

.menu-cards{
	width: 280px;
	background-color: #e8491c;
}

.menu-cards img{
	object-fit: cover;
	width: 100%;
	height: 200px;
}

.menu-cards h5{
	height: 48px;
	margin: 0 0 10px 0;
	text-align:center;
	font-size: 20px;
	color: white;
	font-weight: 500;
}

.menu-cards h6{
	margin: 0;
	text-align:center;
	font-size: 16px;
	color: #0c2f3b;
	font-weight: 700;
}

.menu-cards-text{
	padding: 8px;
}

.menu-cards-text i, h5{
	cursor: pointer;
}

.menu-icons{
	display: flex;
	flex-direction: row;
	color: white;
	width: 100%;
}

.menu-cards-information{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 10px;
	padding: 6px;
	font-size: 16px;
}

.menu-cards-shopping-cart{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	padding: 6px;
	font-size: 20px;
}

.menu-cards-shopping-cart i:hover {
      animation: heartbeat 0.6s;
      animation-fill-mode: forwards;
    }

@keyframes heartbeat {
  0% {
	transform: scale(1);
  }
  50% {
	transform: scale(1.7);
  }
  100% {
	transform: scale(1.4);
  }
}

.menu-cards-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}